# Ignore all files and folders
*

# But don’t ignore these:
!*.xaml
!Main.xaml.json
!project.json
!assets/
!assets/**
!tests/
!tests/**
!workflows/
!workflows/**

# Keep the .gitignore itself
!.gitignore

# Ignore specific file types
*.tmp
*logs/
*.log